{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>Managers</h3>
    <ul class="row emp-list">
        <li class="col-md-12">
            <span class="col-md-6">Name</span>
            <span class="col-md-6">Hire date</span>
        </li>
        {% for item in managers %}
            <li class="col-md-12">
                <span class="col-md-6">
                <a href="/employe/{{ item.emp_no }}">
                    {{ item.first_name }} {{ item.last_name }}
                </a>
                </span>
                <span class="col-md-6">{{ item.hire_date|date("F d,Y")}}</span>
            </li>
        {% endfor %}
    </ul>
    <h3>Employees</h3>
    <ul class="row emp-list">
        <li class="col-md-12">
            <span class="col-md-6">Name</span>
            <span class="col-md-6">Hire date</span>
        </li>
        {% for item in employees %}
            <li class="col-md-12">
                <span class="col-md-6">
                <a href="/employe/{{ item.emp_no }}">
                    {{ item.first_name }} {{ item.last_name }}
                </a>
                </span>
                <span class="col-md-6">{{ item.hire_date|date("F d,Y")}}</span>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
