{% extends "layout.html.twig" %}

{% block content %}
    <ul class="container">
        <li>
            <label>Hire Date:</label>
            {{ employe.hire_date|date("F d,Y")}}
        </li>
        <li>
            <label>Name:</label>
            <span>{{employe.first_name}} {{employe.last_name}}</span>
        </li>
        <li>
            <label>Birth Date:</label>
            <span>{{employe.birth_date|date("F d,Y")}}</span>
        </li>

        <li>
            <label>Gender:</label><br/>
            {% if employe.gender == 'F' %}
                <span>Female</span>
            {% elseif employe.gender == 'M' %}
                <span>Male</span>
            {% endif %}

            <br/>
            {% if manager %}
            Manager
                {% else %}
                Employee
            {% endif %}
            ({{employe.from_date|date("F d,Y")}}
            {% if employe.to_date|date("Y") != 9999 %} - {{employe.to_date|date("F d,Y")}}){% endif %})
        </li>
        {% if salary is not empty %}
            <li>
                <label>Salary:</label><br/>
                <ul>
                    {% for item in salary %}
                        <li>{{ item.salary }} ({{item.from_date|date("F d,Y")}}
                            {% if item.to_date|date("Y") != 9999 %} - {{item.to_date|date("F d,Y")}}){% endif %})
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if positions is not empty %}
            <li>
                <label>Position:</label><br/>
                <ul>
                    {% for item in positions %}
                        <li>{{ item.title }} ({{item.from_date|date("F d,Y")}}
                            {% if item.to_date|date("Y") != 9999 %} - {{item.to_date|date("F d,Y")}}){% endif %})
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if departments is not empty %}
            <li>
                <label>Department:</label><br/>
                <ul>
                    {% for item in departments %}
                        <li>{{ item.dept_name }} ({{item.from_date|date("F d,Y")}}
                            {% if item.to_date|date("Y") != 9999 %} - {{item.to_date|date("F d,Y")}}){% endif %})
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
{% endblock %}
