{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>Departments</h3>
    <ul class="row emp-list">
        <li class="col-md-12">
            <span class="col-md-4">Department name</span>
            <span class="col-md-4">Number of employees</span>
            <span class="col-md-4">Number of managers</span>
        </li>
        {% for item in departments %}
            <li class="col-md-12">
                <span class="col-md-4">
                <a href="/department/{{ item.dept_no }}">
                    {{ item.dept_name }}
                </a>
                </span>
                <span class="col-md-4">{{ item.emp_count }}</span>
                <span class="col-md-4">{{ item.manager_count }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

